.groupContainer {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 6px 0;
}

.formGroup * {
  box-sizing: inherit;
}

.formGroup {
  display: flex;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
  box-sizing: border-box;
}