.selectGroup {
  color: inherit;
  font-size: 18px;
  font-family: inherit;
  padding: 6px 100px;
  border-radius: 4px;
  margin: 4px 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 6px 10px;
  flex: 1 0 0;
  max-width: 100%;
}

.label {
  padding: 0 10px;
  flex: 0 0 100%;
  display: block;
}